@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/variables-dark";

// Customize light mode colors here
$custom-colors: (
  //"primary": #007bff,
  //"secondary": #6c757d
);

$theme-colors: map-merge($theme-colors, $custom-colors);

// Ensure $theme-colors-dark is defined before merging
$theme-colors-dark: if(global-variable-exists(theme-colors-dark), $theme-colors-dark, ());

// Create your own dark theme
$custom-dark-theme: (
  //"primary": #0d6efd,
  //"secondary": #6c757d,
  //"success": #198754,
  //"info": #0dcaf0,
  //"warning": #ffc107,
  //"danger": #dc3545,
  //"light": #f8f9fa,
  //"dark": #212529
);

$theme-colors-dark: map-merge($theme-colors-dark, $custom-dark-theme);

@import "bootstrap/scss/bootstrap";